{% extends "app/layout.html" %}
{% load staticfiles %}
{% block title %}
 Список всех заказов
{% endblock %}
{% block content %}
<div class="impl_bread_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Все заказы</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Все заказы</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="impl_sell_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 offset-lg-1">
                    <div class="impl_checkout_wrapper" id="impl_sform">
                    	{% if user.is_staff %}
                        <ul id="step_progressbar">
                            <li class="active"><span>Список всех заказов</span></li>
                        </ul>
                        <div class="impl_step">
                            <div class="woocommerce">
                                    <table class="table table-bordered shop_table cart">
										<thead>
											<tr>
												<th>Изображение</th>
												<th>Товар</th>
												<th>Количество</th>
												<th>Цена</th>
												<th>Имя</th>
												<th>Фамилия</th>
											</tr>
											{% for order in orders %}
											<tr>
												<td><a href="{{ product.get_absolute_url }}"><img src="{{ order.product.image.url }}" alt="prod"></a></td>
												<td>{{ order.product.name }}</td>
												<td>{{ order.quantity }} | шт.</td>
												<td>{{ order.product.price }} руб.</td>
												<td>{{ order.order.first_name }}</td>
												<td>{{ order.order.last_name }}</td>
											</tr>
											{% endfor %}
										</thead>
                                    </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="impl_print_rcpt">
                            <h1>У Вас нет доступа на просмотр данной страницы</h1>
                            <p>Если Вы являетесь менеджером, то авторизуйтесь на сайте</p>
                            <button class="impl_btn"><a href="{% url 'login' %}">Войти</a></button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
